@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Movies";
}

<h1 class="text-center">View Movies List</h1>

@model List<ApplicationResponse>

@*Table to display information*@
<table class="table table-bordered table-striped background-color:#FFFFFF;">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>LentTo</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    @*Display each row*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Category.CategoryName</td>
                <td>@item.Title</td>
                <td>@item.Year</td>
                <td>@item.Director</td>
                <td>@item.Rating</td>
                <td>@item.Edited</td>
                <td>@item.LentTo</td>
                <td>@item.Notes</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@item.ApplicationID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.ApplicationID">Delete</a></td>

            </tr>
        }
    </tbody>
</table>
